services:
  backend:
    restart: unless-stopped
    build:
      context: backend
      target: prod
    volumes:
      - ./backend:/app
    networks:
      - guess-dev
    environment:
      POSSIBLE_GUESSES: 1,2,3,4,5
      POSSIBLE_GUESSES_DESC: Up to 4h,Up to 8h,Up to 3 days,Up to 5 days,More than 5 days

  frontend:
    build:
      context: frontend
      target: prod
    restart: always
    volumes:
      - ./frontend:/opt/frontend
    networks:
      - guess-dev
    depends_on:
      - backend

  caddy:
    image: caddy:2.7.6-alpine
    ports:
      - "8089:80"
    volumes:
      - ./.docker/prod.Caddyfile:/etc/caddy/Caddyfile
    networks:
      - guess-dev

networks:
  guess-dev: