services:
  backend:
    restart: unless-stopped
    build:
      context: backend
      target: dev
    volumes:
      - ./backend:/app
    ports:
      - "2345:2345"
    networks:
      - app
    environment:
      POSSIBLE_GUESSES: 1,2,3,4,5
      POSSIBLE_GUESSES_DESC: Up to 4h,Up to 8h,Up to 3 days,Up to 5 days,More than 5 days

  frontend:
    build:
      context: frontend
      target: dev
    restart: always
    volumes:
      - ./frontend:/opt/frontend
    networks:
      - app
    depends_on:
      - backend

  caddy:
    image: caddy:2.7.6-alpine
    ports:
      - "8089:80"
    volumes:
      - ./.docker/Caddyfile:/etc/caddy/Caddyfile
    networks:
      - app

networks:
  app:
