:80 {
	encode gzip zstd

	log {
		level debug
	}

	header ?Access-Control-Allow-Origin *

	route {
		reverse_proxy /api/* http://localhost:8080

		root * /opt/frontend
		try_files {path} index.html
		file_server
	}
}
